h1{
    font-family: 'Kalnia', serif;
font-family: 'Libre Baskerville', serif;
 text-align: center ;
 text-transform: uppercase;
 margin: 0;
 padding-top: 10px;
 padding-bottom: 10px;
 color: #28b61b;
}
#one{
    background-color: black;
    color: white;
    width: 800px;
    height:500px;
    align-items: center;
    margin:auto
}
img{
    height: 400px;
    width: 100%;
    

}
p{
    margin: 0;
    text-align: center;
}
#sant{
    padding-left: 475px;
}